@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  background-color: #004aad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 25px;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  font-size: 16px;
}

/* Main */

main{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parks{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Eleccion parques */

#Choosed_Park{
  margin-top: 20px;
  padding: 10px 100px;
  background-color: #004aad;
  color: #fff;
  border-radius: 50px;
  font-size: 30px;
  cursor: pointer;
}

.selector{
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: rgb(183, 241, 230);
  margin-top: 10px;
  border-radius: 15px;
}

.item{
  font-size: 20px;
  cursor: pointer;
}

.selector .choosed{
  color: blue;
}