@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Bebas Neue", sans-serif;
  margin-top: 100px;
  background-image: url("../assets/img/fondo-entradas.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;
  animation: moverFondo 2000s linear infinite;
}

@keyframes moverFondo {
  from{
    background-position: 0 0;
  }
  to{
    background-position: -30000px -10000px;
  }
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  background-color: #004aad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 25px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  font-size: 16px;
}

.but-entradas{
  background-color: #FFFF00;
  border-radius: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.but-entradas a{
  color: #000;
  margin-block: 6px;
}

.cupon-nav{
  height: 21px;
  width: 21px;
}

/* Main */

main{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parks{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parks h1, .todas_entradas h2{
  background-color: #fff;
  color: #000;
  border: 3px solid #004aad;
  box-shadow: 0 0 10px #0060dd;
  padding: 5px 10px;
  border-radius: 40px;
} 

/* Eleccion parques */

.box-selector{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Choosed_Park{
  width: 301px;
  height: 60px;
  margin-top: 20px;
  padding: 10px;
  background-color: #004aad;
  color: #fff;
  border-radius: 50px;
  font-size: 30px;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Choosed_Park:hover{
  background-color: #0060dd;
  scale: 1.05;
}

.selector{
  display: none;
  align-items: center;
  gap: 60px;
  margin-top: 10px;
}

.item{
  background-color: #5D73A2;
  color: #fff;
  border-radius: 15px;
  width: 301px;
  height: 56px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover{
  scale: 1.05;
}

.selector .choosed{
  border: 3px solid #ffff00;  
}

/* Entradas */

.todas_entradas{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.entradas{
  display: flex; 
  align-items: center;
  gap: 30px;
}

.entrada{
  height: 400px;
  width: 300px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px #89aeff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.entrada h1{
  font-size: 30px;
}

.prices{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.price h2{
  box-shadow: none;
  color: #000;
  background-color: #fff;
  border: 2px solid black;
}

.person h5{
  font-family: monospace;
  font-weight: 100;
}

.entrada button{
  margin-top: 20px;
  padding: 20px;
  border: none;
  border-radius: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 17px;
  background-color: #004aad;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.entrada button:hover{
  background-color: #0060dd;
  scale: 1.05;
}

.colaps{
  padding: 20px 50px;
  border-radius: 30px;
  border: none;
  background-color: #0060dd;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.colaps:hover{
  scale: 1.05;
  background-color: #004aad;
}