.title{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    padding: 0.5em;
}

#contorno{
    background-color: #0060DD;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 3em;
    font-size: 3em;
    color: white;
    border-radius: 100px;
}

.eventos{
    display: flex;
    justify-content: center;
    gap: 50px;

}

.evento{
    margin-top: 5em;
    display: flex;
    height: 30em;
    width: 20em;
    background-color: red;
}