@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Adumu';
  src: url('/assets/fonts/adumu/Adumu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.but-entradas{
  background-color: #FFFF00;
  border-radius: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.but-entradas a{
  color: #000;
  margin-block: 6px;
}

.cupon-nav{
  height: 21px;
  width: 21px;
}

/* Variables CSS */
:root {
  --main-color: #004aad;
  --main-buttton-color: #004aad;
  --hover-button-color: #0060dd;
  --clear-gray: rgb(202, 202, 202);
  --yellow: #ffff00;
  --text-gray: rgb(209, 209, 209);
  --blue-gray: #8DA8CC;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
}

.header-logo {
  width: 150px;
}

/* Clases reutilizables */

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: var(--main-color);
  font-size: 36px;
}

header h1 {
  color: #fff;
  font-size: 25px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  font-size: 24px;
}

.header-link-marked {
  color: var(--yellow);
}

.but-entradas{
  background-color: #FFFF00;
  border-radius: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.but-entradas a{
  color: #000;
  margin-block: 6px;
}

.cupon-nav{
  height: 21px;
  width: 21px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
  padding: 45px 15px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section span {
  color: var(--blue-gray);
}

.footer-section a {
  color: var(--text-gray);
}

/* Hero section */
  
.hero-section{
    background-image: url("/assets/img/fondo principal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 80vh;
}

.effect{
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding-top: 50px;
}

.descuento {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descuento h1{
  font-size: 60px;
}

.offer-mark {
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.button{
    padding: 15px 25px;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    background-color: var(--main-buttton-color);
    color: #fff;
    font-family: ;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover{
    background-color: #fff;
    color: var(--main-color);
    transition: all 0.3s;
}

.datos{
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.datos h2{
  padding: 15px;
  border-bottom: solid 1px #ffffffa3;
  font-size: 25px;
}

.datos h2:last-child{
  border: none;
}