@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Adumu';
  src: url('/assets/fonts/adumu/Adumu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Variables CSS */
:root {
  --main-color: #004aad;
  --main-buttton-color: rgb(0, 0, 189);
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

.header-logo {
  width: 150px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 25px;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  font-size: 24px;
}

/* Eventos */
  
.hero-section{
    background-image: url("/assets/img/fondo principal.jpg");
    background-repeat: none;
    background-position: center;
    max-width: 100%;
    height: 70vh;
}

.effect{
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding-top: 50px;
}

.descuento {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descuento h1{
  font-size: 60px;
}

.button{
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    background-color: var(--main-buttton-color);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover{
    background-color: #fff;
    color: var(--main-color);
    transition: all 0.3s;
}

.datos{
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.datos h2{
  padding: 15px;
  border-bottom: solid 1px #ffffffa3;
  font-size: 25px;
}

.datos h2:last-child{
  border: none;
}

/* Responsive */

@media (max-width: 1200px) {
  .effect {
    gap: 200px;
  }
}

@media (max-width: 960px) {
  .effect {
    gap: 100px;
  }
}

@media (max-width: 850px) {
  .hero-section {
    height: 100vh;
  }
  .effect {
    flex-direction: column;
    gap: 50px;
  }
}