@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Bebas Neue", sans-serif;
  margin-top: 100px;
  background-color: #fff;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  background-color: #004aad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 25px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  font-size: 16px;
}

.selected a{
  color: #FFFF00;
}

.but-entradas{
  background-color: #FFFF00;
  border-radius: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.but-entradas a{
  color: #000;
  margin-block: 6px;
}

.cupon-nav{
  height: 21px;
  width: 21px;
}

/* Main */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  margin-block: 100px;
}

.cartelera{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 170px;
  background: #004aad;
  border-radius: 53px;
  border: 5px solid #000;
}

.cartelera h1{
  color: #fff;
  font-size: 80px;
  letter-spacing: 30px;
}

.tienda{
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 50px;
}

.apartado{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.apartado h1{
  font-size: 80px;
  color: #000;
}

.coleccion{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 294px;
  border-radius: 25px;
  padding: 30px 0 10px 0;
  background: #5d73a2;
  box-shadow: 10px 10px 10px #89aeff;
}

.producto h1{
  font-size: 30px;
  color: #fff;
}

.producto img{
  width: 270px;
  height: 145px;
  background: #ffffc5;
}

.producto button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 270px;
  border-radius: 25px;
  padding: 10px;
  background: #fff;
  border: none;
}

.producto button h2{
  font-size: 35px;
  color: #000;
}

.tallas{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.tallas li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 40px;
  width: 40px;
  padding: 10px 0;
  background: #fff;
}

.tallas li h2{
  font-size: 35px;
  color: #000;
}